html {
  box-sizing: border-box;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100px;
  display: block;
  margin: 1rem auto 1.5rem;
}

.anderson {
  background-color: #e2e2e2;
  border-left: 3px solid #333;
  float: left;
  width: 20%;
}

.knights {
  background-color: #ccc;
  border-left: 3px solid #333;
  float: left;
  width: 20%;
}

.dragon {
  background-color: #aaa;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
  float: left;
  width: 20%;
}

.ships {
  background-color: #999;
  border-right: 3px solid #333;
  float: left;
  width: 20%;
}

dl dt {
padding-left: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #333;
  border-radius: 8px;
  padding: .4em .75em .3em;
  background: #333;
  font-size: 1.125rem;
}
